* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: lightslategray;
    background-image: linear-gradient(to bottom, lightslategray, lightsteelblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 8%;
    display: 100%;
    position: relative;
}

header::before {
    content: "";
    background-image: url(images/Webp.net-compress-image.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.85;
    z-index: -1;
}

h1 {
    position: relative;
    color: whitesmoke;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 0.9;
    text-align: center;
}

.body-sect {
    padding: 5%;
}

.input-sect {
    width: fit-content; 
    margin-right: auto; 
    margin-left: auto;
    
}


.input-sect h2 {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    outline-color: darkorange;
    border: none;
    outline: none;
}

.textarea {
    position: relative;
}

.error-message {
    display: block;
    left: 0;
    height: 1rem;
    font-size: 0.8rem;
    font-family: sans-serif;
}

.warn {
    color: crimson;
}

.added {
    color: green;
}

.addBtn {
    padding: 0.3rem;
    width: 5.5rem;
    height: 1.8rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.addBtn:hover {
    background-color: darkcyan;
    color: whitesmoke;
    box-shadow: 0 0 0.1rem 0.1rem darkcyan;
    transition: 250ms;
}

.select {
    margin-top: 10%;
    text-align: center;
}

.radSect {
    margin-top: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ca {
    margin-right: 2%;
}

.ca:hover {
    cursor: pointer;
}

.butt {
    margin: 3%;
}


.add {
    padding: 0.3rem;
    width: 5.5rem;
    height: 1.8rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.empty {
    margin-left: 3%;
    margin-right: 3%;
}

.clear {
    padding: 0.3rem;
    width: 5.5rem;
    height: 1.8rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.add:hover {
    background-color: darkcyan;
    color: whitesmoke;
    box-shadow: 0 0 0.1rem 0.1rem darkcyan;
    transition: 250ms;

}

.clear:hover {
    background-color: darkcyan;
    color: whitesmoke;
    box-shadow: 0 0 0.1rem 0.1rem darkcyan;
    transition: 250ms;

}

.list-sect {
    margin-top: 10%;
    text-align: center;
    padding: 2%;
}


.number-plate {
    display: inline-block;
    width: 7rem;
    margin: 1%;
    border: solid 0.2rem black;
    padding: 1% 2% 1% 2%;
    border-radius: 0.5rem;
    background-color: goldenrod;
    box-shadow: 0 0 0.3rem 0.3rem rgba(0,0,0,0.2);
    color: black;
}
footer {
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width:415px) {
    

    .input-sect {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }

    .textarea {
        display: inline-block;
    }
}

@media only screen and (min-width:465px) {
    

    h1 {
        font-size: 1.5rem;
    }

    .input-sect {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
        
    }

    .input-area {
        display: inline-block;
    }

    .input-sect h2 {
        font-size: 1.2rem;
    }

    .input-sect .error-message {
        font-size: 0.8rem;
        height: 1rem;
    }

    .textarea {
        display: inline-block;
    }

    
    .input {
        font-size: 1rem;
        border: none;
        outline: none;
        margin-right: 3%;
    }

    

    .error-message {
        font-size: 0.8rem;
    }

    .add {
        font-size: 1rem;
        width: 8rem;
    }

    .clear {
        font-size: 1rem;
        width: 8rem;
    }

    .number-plate {
        font-size: 1.3rem;
        width: 8rem;
        padding-top: 1%;
        padding-bottom: 1%;
    }

}

@media only screen and (min-width:618px) {
    
    .textarea {
        display: inline-block;
    }

    .number-plate {
        font-size: 1.3rem;
        width: 9rem;
    }
}

@media only screen and (min-width:768px) {
    

    h1 {
        font-size: 1.7rem;
    }

    .input-area {
        display: inline-block;
        margin-top: 2.4%;
        margin-right: 2%;
    }

    .input-sect {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }

    .input-sect h2 {
        font-size: 1.5rem;
    }

    .input-sect .error-message {
        font-size: 1rem;
        height: 1.2rem;
    }

    
    .input {
        font-size: 1rem;
        border: none;
        outline: none;
        padding-top: 0.4rem;
    }

    .textarea {
        display: inline-block;
    }

    .radSect {
        font-size: 1.3rem;
    }

    .add {
        font-size: 1.3rem;
        width: 9rem;
        height: 2.3rem;
    }

    .clear {
        font-size: 1.3rem;
        width: 9rem;
        height: 2.3rem;
    }

    .number-plate {
        font-size: 1.3rem;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 9rem;
    }

}


@media only screen and (min-width:1024px) {

    

    h1 {
        font-size: 1.8rem;
    }

    .input-area {
        display: inline-block;
        margin-top: 1.5%;
        margin-right: 1%;
    }

    .textarea {
        display: inline-block;
    }

    .list-sect {
        margin-top: 3%;
    }

    .input-sect h2 {
        font-size: 1.5rem;
    }

    .input-sect .error-message {
        font-size: 1rem;
        height: 1.2rem;
    }
    
    .input {
        display: inline-block;
        font-size: 1rem;
        border: none;
        outline: none;
    }

    .select {
        margin-top: 5%;
    }

    .butt {
        margin-top: 0;
    }

    .add {
        font-size: 1.3rem;
        width: 9rem;
        height: 2.3rem;
    }

    .clear {
        font-size: 1.3rem;
        width: 9rem;
        height: 2.3rem;
    }

    .number-plate {
        font-size: 1.3rem;
        width: 9rem;
    }
        
} 

@media only screen and (min-width:1096px) {

    .number-plate {
        font-size: 1.3rem;
        width: 11rem;
    }
}


@media only screen and (min-width:1440px) {
    

    h1 {
        font-size: 2rem;
    }

    .list-sect {
        margin-top: 3%;
    }

    .input-sect h2 {
        font-size: 1.8rem;
    }

    .input-sect .error-message {
        font-size: 1rem;
        height: 1.2rem;
    }
    
    .input {
        font-size: 1.5rem;
        display: inline-block;
    }

    .input-area {
        display: inline-block;
        margin-top: 1.5%;
        margin-right: 1%;
    }

    .textarea {
        display: inline-block;
    }

    .radSect {
        font-size: 1.5rem;
    }

    .add {
        font-size: 1.3rem;
        width: 9rem;
        height: 2.3rem;
    }

    .clear {
        font-size: 1.3rem;
        width: 9rem;
        height: 2.3rem;
    }

    .number-plate {
        font-size: 1.3rem;
        width: 12rem;
    }

}


